<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Bu home sahifasi Blog uchun</p>
    <a href="{% url 'about' %}">About Sahifasi</a><br>
    <a href="{% url 'ismim' %}">Ism sahifasi</a><br>
    <a href="{% url 'familiyam' %}">Familiya sahifasi</a><br>
    <a href="{% url 'yoshim' %}">Yosh sahifasi</a><br>
    <a href="{% url 'university' %}">University sahifasi</a><br>
</body>
</html>